/* General Layout */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent overflow */
}

/* AppBar Styling */
.appBar {
  z-index: 1201; /* Ensure AppBar is above the drawer */
  position: fixed;
  height: 60px;
  background-color: #ede0fe !important;
  color: #012970 !important;
}

/* Main Bar Layout */
.mainbar {
  display: flex;
  gap: 40%;
}

/* Menu Button */
.menuButton {
  margin-right: 16px;
  left: 16px; /* Align the menu button icon to the left */
  font-size: 30px;
}

/* Drawer Styling */
.drawer {
  width: 300px;
}

.drawerContainer {
  overflow: auto;
  width: 300px;
  height: 100%;
  background-color: #4b1d77;
  color: whitesmoke;

  .icon {
    color: whitesmoke;
    font-size: 25px;
  }

  .menuItem {
    color: whitesmoke;
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #9d67ea4a;
  border: none;
}

::-webkit-scrollbar-thumb {
  background: #8b4fc1;
  border-radius: 50px;
  border: none;
}

/* Typography Overrides */
.MuiTypography-root:where(.css-dbslbf-MuiListItemText-root .MuiListItemText-primary) {
  font-size: 18px !important;
  font-weight: 500;
}

