.dashboard_main{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.header_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page_title{
    font-size: 28px !important;
    font-weight: 500 !important;
}
.button_style{
    background-color: #4b1d77  !important;
    color: white  !important;
    padding: 10px  !important;
    cursor: pointer  !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    width: auto !important;
}