# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output (if using TypeScript or Babel)
dist/
build/

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Cache files
*.tgz
.cache/
.eslintcache
