.custom-drawer {
    width: 340px;
    flex-shrink: 0;
  }
  
.custom-drawer .MuiDrawer-paper {
    width: 340px;
    box-sizing: border-box;
    position: fixed;
    top: 90px;
    height: calc(100vh - 90px);
    overflow: auto;
    background-color : #4b1d77;
}
.css-1umw9bq-MuiSvgIcon-root{
    color : white;
}
.listitem_label{
    color : white;
}
.listitem_hover {
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.listitem_hover:hover {
    background-color: #8452BA;
}